#dash-jumbo-container {
    margin: 0;
}

#dash-jumbo {
    padding-left: 3em;
    color: white;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+3,0e7cd6+79,2989d8+100,7db9e8+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top,  #1e5799 3%, #0e7cd6 79%, #2989d8 100%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #1e5799 3%,#0e7cd6 79%,#2989d8 100%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #1e5799 3%,#0e7cd6 79%,#2989d8 100%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 850px) {
    #dash-jumbo {
        padding-top: 5em;
        text-align: center;
        height: 20em;
    }
}