<div id="dash-jumbo-container">
    <div class="jumbotron" id="dash-jumbo">
        <h1>Dashboard</h1>
        <p>Here is some contextual info</p>
    </div>
    <!-- TODO: Create layout for Create/Get/Update/Delete accounts -->
    <div class="container-fluid" id="dash-body">
        <div class="col-xs-12 col-md-10 col-md-offset-1" id="dash-content">
            <h3>Description</h3>
            <p>To begin, select the operation that you wish to perform.</p>


            <div class="col-xs-12 col-md-8 col-md-offset-2">

                <form name="accountForm" ng-submit="submit()" ng-controller="dashCtrl as dm" ng-cloak="">
                    <!--<p ng-model="user">{{ user }}</p>-->
                    <div class="row">
                        <p class="col-xs-12 alert alert-error" ng-if="error">{{ error }}</p>
                        <p class="col-xs-12 alert alert-success" ng-if="message">{{ message }}</p>
                    </div>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Action</label>
                        <md-select ng-model="user.action">
                            <md-option ng-repeat="action in actions" value="{{ action }}">
                                {{ action }} account
                            </md-option>
                        </md-select>

                    </md-input-container>

                    <div class="float: right" ng-if="user.action">
                        <md-input-container>
                            <label>Account Name</label>
                            <input name="name" ng-model="user.account.name" required>
                            <div ng-messages="accountForm.name.$error">
                                <div ng-message="required">Account name is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-if="user.action === 'Create'">
                            <label>Username</label>
                            <input name="username" ng-model="user.account.username" required>
                            <div ng-messages="accountForm.username.$error">
                                <div ng-message="required">Account username is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-if="user.action === 'Create' || user.action === 'Update'">
                            <label>Account Password</label>
                            <input name="password" ng-model="user.account.password" required>
                            <div ng-messages="accountForm.password.$error">
                                <div ng-message="required">Account password is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-if="user.action">
                            <label>Master Password</label>
                            <input name="masterPassword" ng-model="user.account.masterPassword" required>
                            <div ng-messages="accountForm.masterPassword.$error">
                                <div ng-message="required">Master password is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container ng-if="user.action">
                            <md-button class="md-raised md-primary" type="submit" ng-disabled="!accountForm.$valid">Submit</md-button>
                        </md-input-container>
                    </div>

                </form>

            </div>

            <div class="col-xs-12">

            </div>
        </div>

    </div>
</div>